/**
 * Author: yang qizhang
 * Data: 2016/2/18
 * Use: import all mixins and variables of this project
 */
@import "compass";
@import "../modules/all";

$default-font-family:Microsoft Yahei, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;

$default-font-size:14px;

$default-body-width:1200px;

$default-body-background:#f0f0f0;